* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	height: 100vh;
	color: #fff;
}

.image {
	height: 400px;
	width: 600px;
	background-image: url('https://unsplash.it/600/400');
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, color 1s 1s;

}

.image-bg{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
}



.image-text {
	text-transform: uppercase;
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.image:hover {
	transform: translate(-50%, -50%) rotate(-360deg);
	color: gold;
}
